@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");
nav {
  border-bottom: 1px solid black;
  background: $light;
  color: $dark;
  font-family: $font-default;
  min-height: $navheight;
  position: fixed;
  top: 0;
  width: 100%;
  .container {
    @include flex();
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0;
    .menuBtn {
      cursor: pointer;
      // background-image: url("../public/images/menu.png");
    }
    .cartBtn {
      cursor: pointer;
      // background-image: url(images/cart.png);
    }
    .logo {
      font-size: 3rem;
      text-align: center;
      span {
        color: $danger;
      }
    }
  }
}
