$light: #f6f7f5;
$mid-light: #8a8e8d;
$primary: #92979a;
$mid-dark: #7c6e6e;
$dark: #2b272c;
$shadow: lighten($dark, 50%);
$danger: #f44336;
$warning: #de982e;
$success: #61a866;
$font-default: "Baloo 2", sans-serif;
$radius-default: 5px;
