@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px; }

nav {
  border-bottom: 1px solid black;
  background: #8a8e8d;
  color: #f6f7f5;
  font-family: "Baloo 2", sans-serif; }
  nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 1rem 0; }
    nav .container .logo {
      font-size: 3rem;
      text-align: center; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto; }

.jumbo {
  background-image: url("https://source.unsplash.com/hAh4Unn50gk");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 500px;
  font-family: "Baloo 2", sans-serif;
  text-align: center;
  padding: 3rem; }
  .jumbo .shop {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    text-align: center;
    max-width: 60%;
    padding: 2rem 1rem;
    margin: 5% auto; }
    .jumbo .shop h1 {
      font-size: 4rem;
      width: 100%; }
    .jumbo .shop .btn {
      margin: 2rem auto 0;
      outline: none;
      border: none;
      border-radius: 5px;
      background: #f44336;
      color: #f6f7f5;
      padding: 1rem;
      text-align: center;
      cursor: pointer; }
      .jumbo .shop .btn:hover {
        background: #ba160a; }

main {
  padding: 3rem 0; }
  main .card {
    max-width: 350px;
    background: #f6f7f5;
    border-radius: 5px;
    box-shadow: 0 0.5rem 0.5rem 0 #aca4ae; }
  main h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    padding: 0 1rem; }
  main img {
    object-fit: fill;
    width: 100%;
    border-radius: 5px 5px 0 0; }
  main p {
    margin: 1rem 0;
    padding: 0 1rem; }
  main .infoPanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0 1rem; }
