@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');
nav {
  border-bottom: 1px solid black;
  background: $mid-light;
  color: $dark;
  font-family: $font-default;
  min-height: $navheight;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .container {
    @include flex();
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 1rem 0;
    .homeLink {
      color: $dark;
      text-decoration: none;
      padding: 0.5rem 0 0;
      .logo {
        font-size: 3rem;
        text-align: center;
        span {
          color: $danger;
        }
      }
    }
    .menuBtn {
      cursor: pointer;
    }
    .cartBtn {
      cursor: pointer;
    }
  }
}
