.menuBg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: $navheight;
  left: 0;
  transition: all 500ms;
  z-index: 5;
  background: rgba(#000000, 0.65);
  &.hide {
    z-index: -1;
    background: rgba(#000000, 0);
  }
}
.menu {
  width: 90%;
  max-width: 500px;
  position: fixed;
  top: $navheight;
  left: 0;
  background: fade-out($dark, 0.05);
  border-radius: 0 0 $radius-default 0;
  @include flex();
  flex-direction: column;
  transition: all 500ms;
  z-index: 5;
  border-right: 1px solid $light;
  border-bottom: 1px solid $light;
  &.hide {
    left: -100%;
  }
  a {
    width: 100%;
    max-width: 500px;
    border-bottom: 1px solid $light;
    color: $light;
    font-size: 2rem;
    padding: 2.5rem;
    text-decoration: none;
    text-align: center;
    &:hover {
      background: $dark;
    }
    &:last-child {
      border: none;
    }
  }
}
